body {
    margin: 0 20px;
}

h1 {
    text-align: center;
}

.sub_txt {
    text-align: center;
}

.products {
    display: flex;
    margin-top: 80px;
    gap: 20px;
    text-align: center;
}

.card {
    margin: 0 auto;
}

.card_img {
    width: 300px;
}

.card_title {
    font-size: 18px;
}

.card_btn {
    width: 100px;
    height: 20px;
}